/* MouseImageTrail.css */
.trail-wrapper {
    background-color: white;
    color: black;
    position: relative;
    overflow: hidden;
}

.trail-section {
    display: grid;
    height: 100vh;
    width: 100%;
    place-content: center;
    background-color: white;
}

.trail-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.875rem;
    /* text-3xl */
    font-weight: 700;
    /* font-bold */
    text-transform: uppercase;
    color: black;
}

.trail-image {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 12rem;
    /* h-48 */
    width: auto;
    border-radius: 0.75rem;
    /* rounded-xl */
    border: 2px solid black;
    background-color: #171717;
    /* neutral-900 */
    object-fit: cover;
    opacity: 0;
}